body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  height: 70px;
  width: 100%;
  background-color: brown;
}
.knife{
  position: relative;
  height: 30px;
  width: 50px;
  color: white;
  top: 15px;
  
}
.food_logo{
  color: white;
  font-weight: bold;
  font-size: larger;
  position: relative;
  top: 7px;
}